/*media query -CONTACTO*/
@media screen and (max-width: 417px) {
    .mapa div iframe{
        width: 200px;
        height: 200px;
    }}

    @media screen and (max-width: 769px) {
        .grid-items h3 {
        
        background-color: rgba(240, 167, 167, 0.747);
        font-size: small;
        width: 100%;
                
    }}

    @media screen and (max-width: 777px) {
        .hero{
        flex-direction: column;}
    
    }
    @media screen and (max-width: 777px) {
        .hero p{
            font-size: small;
            font-weight: 300;
        }
    
    }
    
    
    @media screen and (max-width: 545px) {
        .Equipo div{
            flex-direction: column;
    }}
    
    @media screen and (max-width: 545px) {
        .Equipo div img{
            width: 200px;
            height: 200px;
    }}
    
    @media screen and (max-width: 545px) {
        .contacto div{
            flex-direction: column;
    }}
    
    @media screen and (max-width: 545px) {
        .contacto div img{
            width: 200px;
            height: 200px;
        }}